@import "libs/bootstrap.min.css"

$primary: #8d81ac
$Hfont: 'Montserrat', sans-serif



body
    padding: 0
    margin: 0
    font-family: 'Lato', sans-serif

h1, h2, h3, h4, h5
    font-family: 'Montserrat', sans-serif






@import "header.sass"